<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />



    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_app2"
        android:exported="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/splashScreenTheme"
        tools:targetApi="m">

        <activity android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <queries>-->
<!--            <intent>-->
<!--                <action android:name="android.media.action.IMAGE_CAPTURE" />-->
<!--            </intent>-->
<!--        </queries>-->
    </application>
</manifest>